__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.duckdb
*.duckdb.wal
data/output/*
!data/output/payment_events.parquet
.dlt/
*.egg-info/
dist/
build/
.env
.venv/
venv/
airflow_home/
airflow.db
airflow.cfg
webserver_config.py
logs/
docker-compose.override.yml
